.destination {
  background-position: center;
  background-size: cover;
}

.destination--hawaii {
  background-image: url(../assets/images/hawaii.jpg);
}

.destination--iceland {
  background-image: url(../assets/images/iceland.jpg);
}

.destination--greece {
  background-image: url(../assets/images/greece.jpg);
}
.destination__title {
  color: #ffffff;
  font-size: 4rem;
  padding: 4rem 4rem;
  margin: 0;
}

.itinerary-cards {
  display: flex;
  justify-content: center;
  padding-bottom: 7rem;
}

.itinerary-card {
  background-color: #ffffff;
  width: 15rem;
  border-radius: 5px;
  margin: 0 2rem;
  padding-bottom: 2.5rem;
}

.itinerary-card__title {
  text-align: center;
  border-bottom: 3px solid black;
  margin: 1rem;
}

.itinerary-card__activity-list {
  list-style: none;
  padding: 0;
}
.itinerary-card__activity {
  background-color: #fefaf5;
  text-align: center;
  margin: 0.5rem 1rem;
  padding: 1rem 0;
}
