.contact-us {
  background-position: center;
  background-size: cover;
  background-image: url(/assets/images/contactus.jpg);
  border: thin transparent solid;
}

.contact-us__title {
  color: #ffffff;
  font-size: 4rem;
  padding: 4rem 4rem 0rem 4rem;
  margin: 0;
}

.form {
  background-color: #ffffffd4;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 70%;
  display: flex;
  border-radius: 5px;
  margin: 3rem auto;
}

.form__column {
  flex: 1;
  margin-right: 20px;
}

.form__group {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.form__input,
.form__select,
.form__textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  /* border: 1px solid #ccc; */
  border: 0.5px solid #db7a4e;
  border-radius: 5px;
  box-sizing: border-box;
}

.form__textarea {
  resize: vertical;
}

.form__button {
  background-color: #db7a4e;
  color: #fff;
  padding: 0.7rem 2.5rem;
  font-size: 16px;
  border: none;
  border-radius: 1.5rem;
}

.form__button:hover {
  background-color: #db7b4edc;
}
