body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.site-header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  margin: 0 4rem;
}

.site-logo {
  font-weight: 700;
  font-size: 1.1rem;
}
.site-logo__link {
  color: #335567;
  text-decoration: none;
}
.site-nav__list {
  list-style: none;
  display: flex;
}
.site-nav__link {
  text-decoration: none;
  color: #335567;
  margin: 0 0.7rem;
}

.site-nav__link--active {
  border-bottom: 3px solid #db7a4e;
  padding-bottom: 0.3rem;
}

.site-footer {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 3rem 0;
}

.footer-contact__title,
.footer-hours__title,
.footer-social__title {
  color: #335567;
  margin: 0;
  padding-bottom: 1rem;
}

.footer-contact__subtitle,
.footer-hours__subtitle {
  color: #db7a4e;
  font-size: 0.6rem;
  font-weight: 100;
  margin: 0;
  padding-bottom: 0.7rem;
}

.footer-contact__info,
.footer-hours__info {
  color: #335567;
  font-size: 0.9rem;
  font-weight: 100;
  margin: 0;
}

.footer-hours__details {
  display: flex;
}

.footer-hours__days {
  margin-right: 2rem;
}
.footer-social__details {
  display: flex;
}
.footer-social__link {
  margin-right: 1.5rem;
}
.footer-social__icon {
  height: 1.5em;
}
