.hero {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.hero__headline {
  width: 45%;
  padding-left: 6rem;
}

.hero__title {
  color: #335567;
  font-size: 2.2rem;
  margin: 0;
}

.hero__text-intro {
  color: #335567;
}
.hero__image {
  width: 450px;
  padding-right: 6rem;
}

.hero__action-button {
  display: inline-block;
  color: #ffffff;
  background-color: #db7a4e;
  padding: 0.7rem 2.5rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 200;
  margin-top: 1rem;
}

.hero__action-button:hover {
  background-color: #db7b4edc;
}
.recommendations__title {
  color: #335567;
  margin: 2rem 6rem;
}

.destination-cards {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  gap: 3rem;
}

.destination-card__link {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

  transition: transform 1s;
}

.destination-card__link:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 4px #335567;
}

.destination-card__image {
  width: 275px;
  height: 415px;
  background-size: cover;
  background-repeat: no-repeat;
}
.destination-card__title {
  color: #ffffff;
  padding-right: 1rem;
}

.destination-card__image--hawaii {
  background-image: url(../assets/images/hawaii.jpg);
}

.destination-card__image--iceland {
  background-image: url(../assets/images/iceland.jpg);
}

.destination-card__image--greece {
  background-image: url(../assets/images/greece.jpg);
}
