@use "./partials/global" as *;

.destination {
  background-position: center;
  background-size: cover;

  &--hawaii {
    background-image: url(../assets/images/hawaii.jpg);
  }

  &--iceland {
    background-image: url(../assets/images/iceland.jpg);
  }

  &--greece {
    background-image: url(../assets/images/greece.jpg);
  }

  &__title {
    color: #ffffff;
    font-size: 4rem;
    padding: 4rem 4rem;
    margin: 0;
  }
}

.itinerary-cards {
  display: flex;
  justify-content: center;
  padding-bottom: 7rem;
}

.itinerary-card {
  background-color: #ffffff;
  width: 15rem;
  border-radius: 5px;
  margin: 0 2rem;
  padding-bottom: 2.5rem;

  &__title {
    text-align: center;
    border-bottom: 3px solid black;
    margin: 1rem;
  }

  &__activity-list {
    list-style: none;
    padding: 0;
  }
  &__activity {
    background-color: #fefaf5;
    text-align: center;
    margin: 0.5rem 1rem;
    padding: 1rem 0;
    transition: background-color 2s;

    &:hover {
      background-color: #335567;
      color: #fff;
    }
  }
}

@media (max-width: 600px) {
  .itinerary-cards {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}
