//Colors
$color-canvas: #ffffff;
$color-text-primary: #335576;
$color-ui-primary: #db7a4e;
$color-canvas-secondary: #fefaf5;
$color-ui-secondary: #db7b4edc;
$color-canvas-transparent: #ffffffd4;
$color-canvas-shadow: rgba(0, 0, 0, 0.2);
